<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Project Status Tracker</title>
        <link rel="stylesheet" href='static/styles/index.css'>

        <link rel="icon" href="static/images/tracker.ico" sizes="any">
        <link rel="icon" href="static/images/tracker.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="header">
            <h1>Project Status Tracker</h1>
            <p>View all of Carlos' projects here.</p>
            <img src="static/images/circles.svg" width="150px" alt="Logo of the Tracker.">
        </div>

        <div id="projects">

            <a href="https://google.com/" class="project-clickable" style="text-decoration: none;">
                <div class="project-container">
                    <div class="project-status-design"><p>Developing...</p></div>
                    <img src="static/images/tracker.svg" height="150px" width="150px" alt="Tracker logo" style="border-radius: 10px; padding: 10px 0">
                    <div style="line-height: 5px;">
                        <h3>Project Status Tracker</h3>
                        <p style="font-size: 12px;">(Preview)</p>
                    </div>

                    <p>View the status of all of Carlos' projects.</p>
                </div>
            </a>

        </div>
    </body>
</html>