<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Project Status Tracker</title>
        <link rel="stylesheet" href='static/styles/index.css'>

        <link rel="icon" href="static/images/tracker.ico" sizes="any">
        <link rel="icon" href="static/images/tracker.svg" type="image/svg+xml">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="header">
            <h1>Project Status Tracker</h1>
            <p>View all of Carlos' projects here.</p>
            <img src="static/images/circles.svg" width="150px" alt="Logo of the Tracker.">
        </div>
    </body>
</html>